body{
    font-family: "Source Sans 3", sans-serif;
    background-color: rgb(250, 250, 250);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    letter-spacing: 0.5px;
}

/* Hero Styling */
.hero{
    width: 100%;
    /* min-height: 90vh; */
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    text-align: center;
}

.container-hero{
    margin: 4.2rem 1.2rem;
    background-color: rgb(250, 250, 250);
}

.intro{
    font-size: 1.3rem;
}

.intro img {
    width: 35%;
    border-radius: 50%;
    
}

.container-hero > h1{
    font-size: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    line-height: 4rem;
}

.hero-txt > p{
    font-size: 1.1rem;
    line-height: 2rem;
    padding-bottom: 3rem;
}

.btn-style{
    text-align: left;
    text-decoration: none;
    background-color: #4E4FEB;
    color: white;
    display: inline-block;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s
}

.btn-style:hover{
    transform: translateY(-3px)
}

/* About me styling */
.about-me{
    margin: 4rem 1.2rem;
}

.about-title{
    font-size: 2.5rem;
}

hr{
    width: 10%;
    color: #4E4FEB;
    border: solid #4E4FEB 3px;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.about-container{
    display: inline-flex;
    flex-direction: column;
}

.about1 > h3{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.about1 > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
}

.abt-txt{
    color: rgb(86, 86, 86);
    font-weight: bold;
}

.linked-in{
    text-decoration: none;
    color: #4E4FEB;
    font-weight: 800;
}

.about1 > p:nth-child(5){
    padding-bottom: 1rem;
}

.btn-body{
    text-align: left;
    text-decoration: none;
    background-color: #4E4FEB;
    color: white;
    display: inline-block;
    padding: 0.7rem 2.5rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s
}

.btn-body:hover{
    transform: translateY(-3px)
}

.about2{
    margin-top: 4rem;
}

.about2 > h3{
    margin-bottom: 1.5rem;
}

.about2-cont{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about2-cont > div{
    background-color: rgb(226, 226, 226);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.dev-sign{
    text-align: center;
    margin-top: 4rem;
}

/* Project Styling */
.project{
    margin: 7rem 1.2rem;
}

.proj-descrpt{
    margin-top: 1.2rem;
}

.grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.grid img{
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.grid1,.grid3,.grid5,.grid7{
    margin-top: 2.5rem;
}

.grid2,.grid4,.grid6.grid8{
    margin-top: 1rem;
}

.grid h3{
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.grid > p{
    padding-bottom: 1.5rem;
 }

.scroll{
    text-align: center;
}

.scroll > a{
    text-decoration: none;
    color: black;
}

/* resume styling */
.resume{
    margin: 6rem 1.2rem;
}

.resume-container{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.resume-container img{
    width: 60%;
    object-fit: cover;
    max-width: 100%;
    border-radius: 5px;
    padding: 1.5rem 0rem;
}

.training-cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr * 4);
    gap: 1.5rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.txt-exp{
    padding-bottom: 0.5rem;
}

.resume-container h3{
    font-size: 1.2rem;
}

.experience h4{
    color: #555555;
}

.boot-txt{
    padding-bottom: 3rem;
}

/* contact */
.contact{
    background-color: #fafafa;
    padding: 5rem 1.2rem;
    color: black;
}

.contact-btn{
    text-align: left;
    text-decoration: none;
    background-color: #4E4FEB;
    color: #fafafa;
    display: inline-block;
    padding: 0.7rem 2.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s
}

.contact-btn:hover{
    transform: translateY(-3px)
}

.contact-container > p{
    padding: 3rem 0rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.footer{
    margin-top: 0rem;
    padding: 6rem 1.2rem;
    background-color: black;
    color: white;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.copyright{
    font-size: 0.9rem;
    padding-top: 1rem;
}

.copyright a{
    text-decoration: none;
    font-weight: bold;
    color: #4E4FEB;
}

.footer-container h2{
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}


/* Tablets */
@media (min-width: 768px) and (max-width: 991px){

    /* Hero styling */
    .container-hero{
        margin: 3rem 2rem;
    }
   
    .intro{
        font-size: 1.5rem;
    }

    .intro img {
        width: 14%;
        border-radius: 50%;
    }

    .container-hero > h1{
        font-size: 4rem;
        line-height: 6rem;
    }

    .hero-txt > p{
        font-size: 1.4rem;
        line-height: 2.5rem;
        padding: 0rem 2rem;
        padding-bottom: 2rem;
        width: 100%;
    }

    .btn-style{
        padding: 1rem 4rem;
    }

    /* about-styling */
    .about-me{
        margin: 5rem 2rem;
    }

    .about-title{
        font-size: 3rem;
    }
    
    hr{
        width: 6%;
        color: #4E4FEB;
        border: solid #4E4FEB 3px;
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    
    .about-container{
        display: inline-flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .about1 > h3{
        font-size: 2rem;
    }
    
    .about1 > p{
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.9rem;
        font-size: 1rem;
    }

  /*  .hero-btn > a{
    padding: 1.2rem 3rem;
    font-size: 1rem;
   } */

   .about2 > h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.about2-cont > div{
    font-weight: 600;
    color: rgb(105, 105, 105);
}

    /* Project Styling */
    .project{
        margin: 7rem 2rem;
    }
    
    .proj-descrpt{
        margin-top: 1.4rem;
        margin-bottom: -1rem;
        font-size: 1.2rem;
    }
    
   /*  .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    } */
    
    .grid img{
        width: 80%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        margin: 0rem auto;
    }
    
   /*  .grid1,.grid3,.grid5,.grid7{
        margin-top: 2.5rem;
    } */
    
    .grid2,.grid4,.grid6.grid8{
        margin-top: -1rem;
    }
    
    .grid h3{
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    .grid > p{
        padding-bottom: 1.7rem;
        font-size: 1rem;
    }

    .btn-body{
        padding: 1rem 3rem;
    }


/* resume styling */
    .resume{
        margin: 6rem 2rem;
    }

    .resume-container{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .resume-container img{
        width: 70%;
        margin-top: 1.5rem;
    }

   .flex1{
    width: 50%;
   }

   .flex2{
    width: 50%;
   }

   .training-cont{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1.5rem;
    align-content: center;
    height: 90vh;
    }

    .txt-exp{
        padding-bottom: 0.5rem;
    }

    .resume-container h3{
        font-size: 1.2rem;
    }

    .experience h4{
        color: #555555;
    }

    /* contact */

    .contact{
        padding: 5rem 2rem;
    }

    .contact-container > p{
        padding: 3rem 0rem;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        text-transform: capitalize;
    }

    /* footer */
    
    .footer{
        margin-top: 0rem;
        padding: 6rem 2rem;  
    }
    
    .footer-container{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        letter-spacing: 0.5px;
        line-height: 2rem;
    }

    .cont1-ft{
        width: 75%;
    }

    .cont1-ft > p{
        padding: 1.5rem 0rem;
    }
    
    .copyright{
        font-size: 1rem;
        padding-top: 1rem;
    }
    
    .copyright a{
        text-decoration: none;
        font-weight: bold;
        color: #4E4FEB;
    }
    
    .footer-container h2{
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-size: 1.8rem;
    }
} 


/* laptops */
@media (min-width: 992px) and (max-width: 1024px){
    .hero{
        margin: 3rem 2rem;
    }

    .intro{
        font-size: 1.5rem;
    }

    .intro img {
        width: 13%;
        border-radius: 50%;
        
    }

    .container-hero > h1{
        font-size: 5rem;
        padding-top: 2.5rem;
    }

    .hero-txt > p{
        font-size: 1.7rem;
        line-height: 2.8rem;
        padding-right: 6rem;
        padding-left: 6rem;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
        width: 100%;
    }

    .btn-style{
        padding: 1rem 5rem;
    }

    /* about-styling */
    .about-me{
        margin: 3rem 3rem;
    }

    .about-title{
        font-size: 3.5rem;
    }
    
    hr{
        width: 6%;
        color: #4E4FEB;
        border: solid #4E4FEB 3px;
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    
    .about-container{
        display: inline-flex;
        flex-direction: row;
        gap: 5rem;
    }
    
    .about1 > h3{
        font-size: 2rem;
    }
    
    .about1 > p{
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.7rem;
        font-size: 1.2rem;
    }

    .btn-body{
        padding: 1.1rem 3rem;
        font-size: 1.1rem;
    }

    .about2-cont > div{
        font-weight: 600;
        color: rgb(105, 105, 105);
        font-size: 1.1rem;
    }
    /* Project Styling */
    .project{
        margin: 10rem 3rem;
    }
    
    .proj-descrpt{
        margin-top: 1.4rem;
        margin-bottom: -1rem;
        font-size: 1.3rem;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        align-items: center;
    }
    

    .grid img{
        width: 100%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover
    }
    
   /*  .grid1,.grid3,.grid5,.grid7{
        margin-top: 2.5rem;
    } */
    
   /*  .grid2,.grid4,.grid6.grid8{
        margin-top: -1rem;
    } */
    
    .grid h3{
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.7rem;
    }
    
    .grid > p{
        padding-bottom: 1.7rem;
        font-size: 1.1rem;
    }

    .btn-body{
        padding: 1rem 3rem;
    }

    /* resume styling */
    .resume{
        margin: 6rem 3rem;
    }

    .resume-container{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        font-size: 1.1rem;
        gap: 3rem;
    }

    .resume-container img{
        width: 70%;
        margin-top: 1.5rem;
    }

    .flex1{
        width: 50%;
    }
    
    .flex2{
        width: 50%;
    }

    .training-cont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        margin-top: 1.5rem;
        align-items: flex-start ;
        height: 82vh;
        font-size: 1.1rem;
        }
    
        .txt-exp{
            padding-bottom: 0.5rem;
        }
    
        .resume-container h3{
            font-size: 1.2rem;
        }
    
        .experience h4{
            color: #555555;
        }

        /* contact */

    .contact{
        padding: 5rem 3rem;
    }

    .contact-container > p{
        padding: 3rem 0rem;
        font-size: 2.2rem;
    }

    /* footer */
    
    .footer{
        margin-top: 0rem;
        padding: 8rem 3rem;  
    }
    
    .footer-container{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        letter-spacing: 0.5px;
        line-height: 2rem;
    }

    .cont1-ft{
        width: 75%;
    }

    .cont1-ft > p{
        padding: 1.5rem 0rem;
        font-size: 1.2rem;
    }
    
    .copyright{
        font-size: 1.2rem;
        padding-top: 1rem;
    }
    
    .footer-container h2{
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-size: 2rem;
    }

} 


/* desktops */
@media (min-width: 1025px) and (max-width: 1440px){
    
    .container-hero{
        margin: 3rem 4rem;
        text-align: center;
    }

    .hero{
        padding-top: 1rem;
        padding-bottom: 4rem;
    }


    .intro{
        font-size: 1.6rem;
    }

    .intro img {
        width: 12%;
        border-radius: 50%;
    }

    .container-hero > h1{
        font-size: 5.5rem;
    }

    .hero-txt > p{
        font-size: 1.5rem;
        padding-left: 11rem;
        padding-right: 11rem;
        line-height: 2.5rem;
        padding-top: 1.5rem;
        text-transform: capitalize;
        width: 100%;
    }

    .btn-style{
        padding: 1rem 4rem;
        font-size: 1.3rem;
    }

    /* about-styling */
    .about-me{
        margin: 3rem 4rem;
    }
    
    .about-title{
        font-size: 4.2rem;
    }
    
    hr{
        width: 6%;
    }
    
    .about-container{
        display: inline-flex;
        flex-direction: row;
        gap: 4.5rem;
    }

    .about-container > div{
        width: 50%;
    }
    
    .about1 > h3{
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 2.1rem;
    }
    
    .about1 > p{
        font-size: 1.2rem;
        line-height: 1.9rem;
        letter-spacing: 0.5px;
    }

   /*  .linked-in{
        letter-spacing: 0px;
    } */

    .btn-body{
        padding: 1.1rem 3rem;
        font-size: 1.1rem;
    }

    .about2 > h3{
        margin-bottom: 2rem;
        font-size: 2.1rem;
    }
    
    .about2-cont{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 1.2rem;
    }
    
    .about2-cont > div{
        background-color: rgb(226, 226, 226);
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
    }


    /* project styling */
    .project{
        margin: 10rem 4rem;
    }
    
    .proj-descrpt{
        margin-top: 1.4rem;
        margin-bottom: -1rem;
        font-size: 1.3rem;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        align-items: center;
    }
    

    .grid img{
        width: 90%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover
    }
    
   /*  .grid1,.grid3,.grid5,.grid7{
        margin-top: 2.5rem;
    } */
    
   /*  .grid2,.grid4,.grid6.grid8{
        margin-top: -1rem;
    } */
    
    .grid h3{
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.8rem;
    }
    
    .grid > p{
        padding-bottom: 1.7rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .btn-body{
        padding: 1rem 3rem;
    }

    /* resume styling */
    .resume{
        margin: 6rem 4rem;
    }

    .resume-container{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 3rem;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        padding-top: 2.5rem;
        line-height: 2rem;
    }

    .resume-container img{
        width: 55%;
    }

    .flex1{
        width: 50%;
    }
    
    .flex2{
        width: 50%;
    }

    .training-cont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        margin-top: 1.5rem;
        align-items: flex-start ;
        height: 85vh;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        line-height: 2rem;
        }
    
        .txt-exp{
            padding-bottom: 0.5rem;
        }
    
        .training-cont h3{
            font-size: 1.8rem;
        }
    
        .experience h4{
            color: #555555;
            padding-bottom: 1rem;
        }

           /* contact */

    .contact{
        padding: 5rem 4rem;
    }

    .contact-container > p{
        padding: 3rem 0rem;
        font-size: 2.2rem;
    }

    .contact-btn{
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem 3rem;
    }

    /* footer */
    
    .footer{
        margin-top: 0rem;
        padding: 8rem 4rem;  
    }
    
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        letter-spacing: 0.5px;
        line-height: 1.7rem;
    }

    .cont1-ft{
        width: 50%;
    }

    .cont1-ft > p{
        padding: 1rem 0rem;
        font-size: 1rem;
        letter-spacing: 0.5px;
    }

    .cont2-ft > h2{
        padding-bottom: 2rem;
    }
    

    .cont2-ft > a{
        padding: 2rem 0.35rem;
    }
        
    .copyright{
        font-size: 1.1rem;
        padding-top: 3rem;
    }
    
    .footer-container h2{
        /* padding-bottom: 1rem; */
        text-transform: uppercase;
        font-size: 1.7rem;
    }

}

/* TVs */
@media (min-width: 1441px){
    
    .container-hero{
        margin: 3rem 3rem;
    }

    .about-me{
        margin: 4rem 3rem;
    }

    .hero{
        padding-top: 2rem;
        padding-bottom: 4rem;
    }


    .intro{
        font-size: 1.8rem;
    }

    .container-hero > h1{
        font-size: 4.8rem;
    }

    .hero-txt > p{
        font-size: 2.2rem;
        padding-right: 5rem;
        line-height: 4.3rem;
    }

    .btn-style{
        padding: 1rem 5rem;
    }

    /* about-styling */
    .about-me{
        margin: 3rem 2.5rem;
    }
    
    .about-title{
        font-size: 4.2rem;
    }
    
    hr{
        width: 6%;
    }
    
    .about-container{
        display: inline-flex;
        flex-direction: row;
        gap: 4.5rem;
    }

    .about-container > div{
        width: 50%;
    }
    
    .about1 > h3{
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 2.1rem;
    }
    
    .about1 > p{
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0.5px;
    }

   /*  .linked-in{
        letter-spacing: 0px;
    } */

    .btn-body{
        padding: 1.1rem 3rem;
        font-size: 1.1rem;
    }

    .about2 > h3{
        margin-bottom: 2rem;
        font-size: 2.1rem;
    }
    
    .about2-cont{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 1.2rem;
    }
    
    .about2-cont > div{
        background-color: rgb(226, 226, 226);
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
    }


    /* project styling */
    .project{
        margin: 10rem 2.5rem;
    }
    
    .proj-descrpt{
        margin-top: 1.4rem;
        margin-bottom: -1rem;
        font-size: 1.3rem;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        align-items: center;
    }
    

    .grid img{
        width: 100%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover
    }
    
   /*  .grid1,.grid3,.grid5,.grid7{
        margin-top: 2.5rem;
    } */
    
   /*  .grid2,.grid4,.grid6.grid8{
        margin-top: -1rem;
    } */
    
    .grid h3{
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.8rem;
    }
    
    .grid > p{
        padding-bottom: 1.7rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .btn-body{
        padding: 1rem 3rem;
    }

    /* resume styling */
    .resume{
        margin: 6rem 3rem;
    }

    .resume-container{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 3rem;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        padding-top: 2.5rem;
        line-height: 2rem;
    }

    .resume-container img{
        width: 55%;
    }

    .flex1{
        width: 50%;
    }
    
    .flex2{
        width: 50%;
    }

    .training-cont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        margin-top: 1.5rem;
        align-items: flex-start ;
        height: 85vh;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        line-height: 2rem;
        }
    
        .txt-exp{
            padding-bottom: 0.5rem;
        }
    
        .training-cont h3{
            font-size: 1.8rem;
        }
    
        .experience h4{
            color: #555555;
            padding-bottom: 1rem;
        }

           /* contact */

    .contact{
        padding: 5rem 2.5rem;
    }

    .contact-container > p{
        padding: 3rem 0rem;
        font-size: 2.2rem;
    }

    .contact-btn{
        font-size: 1.1rem;
        font-weight: bold;
    }

    /* footer */
    
    .footer{
        margin-top: 0rem;
        padding: 8rem 2.5rem;  
    }
    
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        letter-spacing: 0.5px;
        line-height: 2rem;
    }

    .cont1-ft{
        width: 50%;
    }

    .cont1-ft > p{
        padding: 1.5rem 0rem;
        font-size: 1rem;
        letter-spacing: 0.5px;
    }

   /*  .cont2-ft > h2{
        padding-bottom: 3rem;
    }
     */
    .copyright{
        font-size: 1.2rem;
        padding-top: 3rem;
    }
    
    .footer-container h2{
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-size: 2rem;
    }
}
